@import '~bootstrap';

.btn {
    margin: 5px;
}

#clearHistory{
    background-color:lightcoral;

}

.form-group {

    height:300px;
}
.dropdown-content{
    width: fit-content;
    height: auto;
    border: 1px solid lightblue
}